<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>慧富宝支付系统---用户管理中心</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="#springUrl('/Public/Front/css/bootstrap.min.css')" rel="stylesheet">
    <link href="#springUrl('/Public/Front/css/font-awesome.min.css')" rel="stylesheet">
    <link href="#springUrl('/Public/Front/css/animate.css')" rel="stylesheet">
    <link href="#springUrl('/Public/Front/css/style.css')" rel="stylesheet">
    <link href="#springUrl('/Public/User/css/style.css')" rel="stylesheet">
    <link rel="stylesheet" href="#springUrl('/Public/Front/js/plugins/layui/css/layui.css')">
    <style>
        .layui-form-label {width:110px;padding:4px}
        .layui-form-item .layui-form-checkbox[lay-skin="primary"]{margin-top:0;}
        .layui-form-switch {width:54px;margin-top:0px;}

    </style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <!--条件查询-->
                <div class="ibox-title">
                    <h5>订单管理</h5>
                    <div class="ibox-tools">
                        <i class="layui-icon" onclick="location.replace(location.href);" title="刷新"
                           style="cursor:pointer;">ဂ</i>
                    </div>
                </div>
                <!--条件查询-->
                <div class="ibox-content">
                    <form class="layui-form" action="" method="get" autocomplete="off" id="orderform">
                        <input type="hidden" name="m" value="User">
                        <input type="hidden" name="c" value="Order">
                        <input type="hidden" name="a" value="index">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" name="outTradeNo" autocomplete="off" placeholder="请输入订单号" class="layui-input" #if(${requestInfo.outTradeNo}) value="${requestInfo.outTradeNo}" #else value="" #end>
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="createtime" id="createtime"
                                           placeholder="创建起始时间" value="">
                                </div>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="successtime" id="successtime"
                                           placeholder="完成起始时间" value="">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <select name="channelCode">
                                        <option value="">全部通道</option>
                                        #foreach($channel in $channels)
                                            #if(${requestInfo.channelCode} == ${channel.channelCode})
                                                <option value=${channel.channelCode} selected>${channel.channelCode}</option>
                                            #else
                                                <option value=${channel.channelCode}>${channel.channelCode}</option>
                                            #end
                                        #end
                                    </select>
                                </div>

                                <div class="layui-input-inline">
                                    <select name="status">
                                        <option value="">全部状态</option>
                                        <option value="0" #if(${requestInfo.status}==0) selected #end>未处理</option>
                                        <option value="1" #if(${requestInfo.status}==1) selected #end>处理中</option>
                                        <option value="2" #if(${requestInfo.status}==2) selected #end>成功,未返回</option>
                                        <option value="5" #if(${requestInfo.status}==5) selected #end>成功,已返回</option>
                                        <option value="10" #if(${requestInfo.status}==10) selected #end>交易成功</option>
                                        <option value="99" #if(${requestInfo.status}==99) selected #end>交易失败</option>
                                    </select>
                                </div>
                                <div class="layui-input-inline">
                                    <select name="type">
                                        <option value="">订单类型</option>
                                        <option value="0" #if(${requestInfo.type}==0) selected #end>支付订单</option>
                                        <option value="1" #if(${requestInfo.type}==1) selected #end>退款订单</option>
                                        <option value="2" #if(${requestInfo.type}==2) selected #end>取消支付</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <button type="submit" class="layui-btn"><span
                                        class="glyphicon glyphicon-search"></span> 搜索
                                </button>
                            </div>
                        </div>
                    </form>
                    <!--交易列表-->
                    <table class="layui-table" lay-data="{width:'100%',id:'userData'}">
                        <thead>
                        <tr>
                            <th lay-data="{field:'key',width:80}"></th>
                            <th lay-data="{field:'type', width:90}">订单类型</th>
                            <th lay-data="{field:'outTradeId', width:240,style:'color:#060;'}">订单号</th>
                            <th lay-data="{field:'mchId', width:110}">商户编号</th>
                            <th lay-data="{field:'name', width:120}">商户名称</th>
                            <th lay-data="{field:'amount', width:100,style:'color:#060;'}">交易金额</th>
                            <th lay-data="{field:'fee', width:90}">手续费</th>
                            <th lay-data="{field:'actualamount', width:100,style:'color:#C00;'}">实际金额</th>
                            <th lay-data="{field:'applydate', width:160}">提交时间</th>
                            <th lay-data="{field:'successdate', width:160}">成功时间</th>
                            <th lay-data="{field:'zh_tongdao', width:160}">支付通道</th>
                            <th lay-data="{field:'status', width:110}">状态</th>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach($order in ${pageInfo.data})
                            <tr>
                                <td>${order.id}</td>
                                <td>${order.typeDesc}</td>
                                <td style="text-align:center; color:#090;">${order.outTradeNo}</td>
                                <td style="text-align:center;">${order.mchId}</td>
                                <td style="text-align:center;">${order.groupName}</td>
                                <td style="text-align:center; color:#060">${order.amoun}</td>
                                <td style="text-align:center; color:#666">${order.fee}</td>
                                <td style="text-align:center; color:#C00">${order.actualAmount}</td>
                                <td style="text-align:center;">$!date.format('yyyy-MM-dd HH:mm:ss ',${order.createTime})</td>
                                <td style="text-align:center;">$!date.format('yyyy-MM-dd HH:mm:ss ',${order.successTime})</td>
                                <td style="text-align:center;">${order.service}</td>
                                <td style="text-align:center; color:#369"><span style="color:#f00">${order.statusDesc}</span></td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                    <div class="pagex">
                        <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-0">
                            #if(${pageInfo.showPage.showHead})
                                <a class="num" href='#springUrl("/common/user_order_record?currentPage=1&status=#if($requestInfo.status)$requestInfo.status#end&outTradeNo=#if(${requestInfo.outTradeNo})${requestInfo.outTradeNo}#end&channelCode=#if(${requestInfo.channelCode})${requestInfo.channelCode}#end&type=#if(${requestInfo.type})${requestInfo.type}#end")'>首页</a>
                            #end
                            #foreach($page in ${pageInfo.showPage.pages})
                                #if($page.selected)
                                    <span class="layui-laypage-curr current"><em class="layui-laypage-em"></em><em>$page.label</em></span>
                                #else
                                    <a class="num" href='#springUrl("/common/user_order_record?currentPage=$page.pageIndex&status=#if($requestInfo.status)$requestInfo.status#end&outTradeNo=#if(${requestInfo.outTradeNo})${requestInfo.outTradeNo}#end&channelCode=#if(${requestInfo.channelCode})${requestInfo.channelCode}#end&type=#if(${requestInfo.type})${requestInfo.type}#end")'>$page.label</a>
                                #end
                            #end
                            #if($pageInfo.hasNext)
                                <a class="num" href='#springUrl("/common/user_order_record?currentPage=${pageInfo.nextPage}&status=#if($requestInfo.status)$requestInfo.status#end&outTradeNo=#if(${requestInfo.outTradeNo})${requestInfo.outTradeNo}#end&channelCode=#if(${requestInfo.channelCode})${requestInfo.channelCode}#end&type=#if(${requestInfo.type})${requestInfo.type}#end")'>下一页</a>
                            #end
                            #if($pageInfo.showPage.showTail)
                                <a class="num" href='#springUrl("/common/user_order_record?currentPage=${pageInfo.tailPage.pageIndex}&status=#if($requestInfo.status)$requestInfo.status#end&outTradeNo=#if(${requestInfo.outTradeNo})${requestInfo.outTradeNo}#end&channelCode=#if(${requestInfo.channelCode})${requestInfo.channelCode}#end&type=#if(${requestInfo.type})${requestInfo.type}#end")'>${pageInfo.tailPage.label}</a>
                            #end
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="#springUrl('/Public/Front/js/jquery.min.js')"></script>
<script src="#springUrl('/Public/Front/js/bootstrap.min.js')"></script>
<script src="#springUrl('/Public/Front/js/plugins/peity/jquery.peity.min.js')"></script>
<script src="#springUrl('/Public/Front/js/content.js')"></script>
<script src="#springUrl('/Public/Front/js/plugins/layui/layui.js')" charset="utf-8"></script>
<script src="#springUrl('/Public/Front/js/x-layui.js')" charset="utf-8"></script>
<script>
    layui.use(['laydate', 'laypage', 'layer', 'table', 'form'], function() {
        var laydate = layui.laydate //日期
                , laypage = layui.laypage //分页
                ,layer = layui.layer //弹层
                ,form = layui.form //表单
                , table = layui.table; //表格
        //日期时间范围
        laydate.render({
            elem: '#createtime'
            , type: 'datetime'
            ,theme: 'molv'
            , range: '|'
        });
        //日期时间范围
        laydate.render({
            elem: '#successtime'
            , type: 'datetime'
            ,theme: 'molv'
            , range: '|'
        });
    });
    /*订单-查看*/
    function order_view(title,url,w,h){
        x_admin_show(title,url,w,h);
    }
    /*订单-删除*/
    function order_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            jQuery.ajax({
                url:"/User_Order_delOrder.html",
                type:'post',
                data:'id='+id,
                success:function(res){
                    if(res.status){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                    }
                }
            });
        });
    }
</script>
</body>
</html>