<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>慧富宝支付系统---API管理---网银支付</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="#springUrl('/Public/Front/css/bootstrap.min.css')" rel="stylesheet">
    <link href="#springUrl('/Public/Front/css/font-awesome.min.css')" rel="stylesheet">
    <link href="#springUrl('/Public/Front/css/animate.css')" rel="stylesheet">
    <link href="#springUrl('/Public/Front/css/style.css')" rel="stylesheet">
    <link href="#springUrl('/Public/User/css/style.css')" rel="stylesheet">
    <link rel="stylesheet" href="#springUrl('/Public/Front/js/plugins/layui/css/layui.css')">
    <style>
        .layui-form-label {width:110px;padding:4px}
        .layui-form-item .layui-form-checkbox[lay-skin="primary"]{margin-top:0;}
        .layui-form-switch {width:54px;margin-top:0px;}

    </style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>网银支付</h5>
                </div>
                <div class="ibox-content">
                    <!--用户信息-->
                    <form class="layui-form" action="" autocomplete="off" id="profile" method="POST">
                        <input type="hidden" name="id" value="13">
                        <div class="layui-form-item">
                            <label class="layui-form-label">支付通道：</label>
                            <div class="layui-input-block">网银支付</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">银行：</label>
                            <div class="layui-input-block">
                                <select name="bank" lay-filter="" lay-search="">
                                    <option value="">选择支付银行</option>
                                    #foreach($bank in $bankCodes)
                                        <option value="$bank.code">$bank.name</option>
                                    #end
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">支付金额：</label>
                            <div class="layui-input-block">
                                <input type="text" id="total" name="total" placeholder="支付金额" autocomplete="off" class="layui-input" value= "">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">备注：</label>
                            <div class="layui-input-block">
                                <input type="text" id="remark" name="remark" placeholder="备注" autocomplete="off" class="layui-input" value= "">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-submit="" lay-filter="add">提交订单</button>
                        </div>
                        <input type="hidden" name="__hash__" value="b51c254fb856abf85f67a3ebaaeae11f_febd51c317b82e012155d1eabc0d7815" />
                    </form>
                    <!--用户信息-->
                </div>
            </div>
            <div id="code"></div>
        </div>
    </div>
</div>
<script src="#springUrl('/Public/Front/js/jquery.min.js')"></script>
<script src="#springUrl('/Public/Front/js/jquery.qrcode.min.js')"></script>
<script src="#springUrl('/Public/Front/js/bootstrap.min.js')"></script>
<script src="#springUrl('/Public/Front/js/plugins/peity/jquery.peity.min.js')"></script>
<script src="#springUrl('/Public/Front/js/content.js')"></script>
<script src="#springUrl('/Public/Front/js/plugins/layui/layui.js')" charset="utf-8"></script>
<script src="#springUrl('/Public/Front/js/x-layui.js')" charset="utf-8"></script>
<script>
    layui.use(['laydate', 'laypage', 'layer', 'form', 'element'], function() {
        var laydate = layui.laydate //日期
                ,layer = layui.layer //弹层
                ,form = layui.form //弹层
                , element = layui.element; //元素操作
        //日期
        laydate.render({
            elem: '#date'
        });

        form.on('submit(add)', function(data){
            jQuery.ajax({
                url:"#springUrl('/pay/wy_pay')",
                type:"POST",
                data:jQuery('#profile').serialize(),
                success:function(res){
                    if(res.errcode == 0){
                        jQuery('#code').html(res.page_content);
                        jQuery('#form').submit();
                    }else{
                        layer.msg(res.message?res.message:"操作失败!", {icon: 5},function () {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        });
                        return false;
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>